@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ResumeWebsite.Pages.IndexModel

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kuldeep Singh - Azure Consultant, DevOps, Data Engineer</title>
    <meta name="description" content="Passionate lead/developer having experience in consulting, designing, developing and delivering solutions to enterprises using Microsoft Azure Technologies. Azure, SQLAzure, CosmosDB, AzureDataFactory, WebApp" />
    <meta name="keywords" content="Azure, SQLAzure, CosmosDB, AzureDataFactory, WebApp, Data Engineer, Azure Certified Cloud Consultant">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script type="text/javascript">
        !function(T,l,y){var S=T.location,k="script",D="instrumentationKey",C="ingestionendpoint",I="disableExceptionTracking",E="ai.device.",b="toLowerCase",w="crossOrigin",N="POST",e="appInsightsSDK",t=y.name||"appInsights";(y.name||T[e])&&(T[e]=t);var n=T[t]||function(d){var g=!1,f=!1,m={initialize:!0,queue:[],sv:"5",version:2,config:d};function v(e,t){var n={},a="Browser";return n[E+"id"]=a[b](),n[E+"type"]=a,n["ai.operation.name"]=S&&S.pathname||"_unknown_",n["ai.internal.sdkVersion"]="javascript:snippet_"+(m.sv||m.version),{time:function(){var e=new Date;function t(e){var t=""+e;return 1===t.length&&(t="0"+t),t}return e.getUTCFullYear()+"-"+t(1+e.getUTCMonth())+"-"+t(e.getUTCDate())+"T"+t(e.getUTCHours())+":"+t(e.getUTCMinutes())+":"+t(e.getUTCSeconds())+"."+((e.getUTCMilliseconds()/1e3).toFixed(3)+"").slice(2,5)+"Z"}(),iKey:e,name:"Microsoft.ApplicationInsights."+e.replace(/-/g,"")+"."+t,sampleRate:100,tags:n,data:{baseData:{ver:2}}}}var h=d.url||y.src;if(h){function a(e){var t,n,a,i,r,o,s,c,u,p,l;g=!0,m.queue=[],f||(f=!0,t=h,s=function(){var e={},t=d.connectionString;if(t)for(var n=t.split(";"),a=0;a<n.length;a++){var i=n[a].split("=");2===i.length&&(e[i[0][b]()]=i[1])}if(!e[C]){var r=e.endpointsuffix,o=r?e.location:null;e[C]="https://"+(o?o+".":"")+"dc."+(r||"services.visualstudio.com")}return e}(),c=s[D]||d[D]||"",u=s[C],p=u?u+"/v2/track":d.endpointUrl,(l=[]).push((n="SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details)",a=t,i=p,(o=(r=v(c,"Exception")).data).baseType="ExceptionData",o.baseData.exceptions=[{typeName:"SDKLoadFailed",message:n.replace(/\./g,"-"),hasFullStack:!1,stack:n+"\nSnippet failed to load ["+a+"] -- Telemetry is disabled\nHelp Link: https://go.microsoft.com/fwlink/?linkid=2128109\nHost: "+(S&&S.pathname||"_unknown_")+"\nEndpoint: "+i,parsedStack:[]}],r)),l.push(function(e,t,n,a){var i=v(c,"Message"),r=i.data;r.baseType="MessageData";var o=r.baseData;return o.message='AI (Internal): 99 message:"'+("SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details) ("+n+")").replace(/\"/g,"")+'"',o.properties={endpoint:a},i}(0,0,t,p)),function(e,t){if(JSON){var n=T.fetch;if(n&&!y.useXhr)n(t,{method:N,body:JSON.stringify(e),mode:"cors"});else if(XMLHttpRequest){var a=new XMLHttpRequest;a.open(N,t),a.setRequestHeader("Content-type","application/json"),a.send(JSON.stringify(e))}}}(l,p))}function i(e,t){f||setTimeout(function(){!t&&m.core||a()},500)}var e=function(){var n=l.createElement(k);n.src=h;var e=y[w];return!e&&""!==e||"undefined"==n[w]||(n[w]=e),n.onload=i,n.onerror=a,n.onreadystatechange=function(e,t){"loaded"!==n.readyState&&"complete"!==n.readyState||i(0,t)},n}();y.ld<0?l.getElementsByTagName("head")[0].appendChild(e):setTimeout(function(){l.getElementsByTagName(k)[0].parentNode.appendChild(e)},y.ld||0)}try{m.cookie=l.cookie}catch(p){}function t(e){for(;e.length;)!function(t){m[t]=function(){var e=arguments;g||m.queue.push(function(){m[t].apply(m,e)})}}(e.pop())}var n="track",r="TrackPage",o="TrackEvent";t([n+"Event",n+"PageView",n+"Exception",n+"Trace",n+"DependencyData",n+"Metric",n+"PageViewPerformance","start"+r,"stop"+r,"start"+o,"stop"+o,"addTelemetryInitializer","setAuthenticatedUserContext","clearAuthenticatedUserContext","flush"]),m.SeverityLevel={Verbose:0,Information:1,Warning:2,Error:3,Critical:4};var s=(d.extensionConfig||{}).ApplicationInsightsAnalytics||{};if(!0!==d[I]&&!0!==s[I]){var c="onerror";t(["_"+c]);var u=T[c];T[c]=function(e,t,n,a,i){var r=u&&u(e,t,n,a,i);return!0!==r&&m["_"+c]({message:e,url:t,lineNumber:n,columnNumber:a,error:i}),r},d.autoExceptionInstrumented=!0}return m}(y.cfg);function a(){y.onInit&&y.onInit(n)}(T[t]=n).queue&&0===n.queue.length?(n.queue.push(a),n.trackPageView({})):a()}(window,document,{
        src: "https://js.monitor.azure.com/scripts/b/ai.2.min.js", // The SDK URL Source
        // name: "appInsights", // Global SDK Instance name defaults to "appInsights" when not supplied
        // ld: 0, // Defines the load delay (in ms) before attempting to load the sdk. -1 = block page load and add to head. (default) = 0ms load after timeout,
        // useXhr: 1, // Use XHR instead of fetch to report failures (if available),
        crossOrigin: "anonymous", // When supplied this will add the provided value as the cross origin attribute on the script tag
        // onInit: null, // Once the application insights instance has loaded and initialized this callback function will be called with 1 argument -- the sdk instance (DO NOT ADD anything to the sdk.queue -- As they won't get called)
        cfg: { // Application Insights Configuration
            connectionString:"@Configuration["APPLICATIONINSIGHTS_CONNECTION_STRING"]" 
            /* ...Other Configuration Options... */
        }});
        </script>
</head>
<body id="top">
    <header>
        <div class="profile-page sidebar-collapse">
            <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
                <div class="container">

                </div>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div>
            <div class="profile-page">
                <div class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="page-header-image" style="background-image: url('images/cloudbanner.jpg');"></div>
                        <div class="container">
                            <div class="content-center">
                                <div class="cc-profile-image"><a href="#"><img src="images/kd.jpg" alt="Image" /></a></div>
                                <div class="h2 title">Kuldeep Singh</div>
                                <p class="category text-white">Architect | Consultant | Data Engineer</p>
                                <button class="btn btn-primary" style="cursor:pointer;width:200px;" type="submit" onclick="window.open('@Configuration["ResumeURL"]')">
                                    <i class="fa fa-download"></i> Download CV
                                </button>
                            </div>
                        </div>
                        <div class="section">
                            <div class="container">
                                <div class="button-container">
                                    <a class="btn btn-default btn-round btn-lg btn-icon" style="cursor:pointer;" target="_new" href="https://github.com/kuldeepsingh-k" rel="tooltip" title="Follow me on Github">
                                        <i class="fa fa-github"></i>
                                    </a>
                                    <a class="btn btn-default btn-round btn-lg btn-icon" style="cursor:pointer;" href="#" rel="tooltip" title="Follow me on Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-default btn-round btn-lg btn-icon" style="cursor:pointer;" target="_new" href="https://www.linkedin.com/in/kuldeepsingh-k" rel="tooltip" title="Follow me on Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a class="btn btn-default btn-round btn-lg btn-icon" style="cursor:pointer;" href="mailto:in.singhkuldeep@gmail.com" rel="tooltip" title="Email me at in.singhkuldeep@gmail.com">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                    <a class="btn btn-default btn-round btn-lg btn-icon" style="cursor:pointer;" href="./PersonalProfile" rel="tooltip" title="Go to Personal Profile" target="_new">
                                        <i class="fa fa-user-circle-o"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="about">
                <div class="container">
                    <div class="card" style="background-color:#dddddd">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body">
                                    <div class="h4 mt-0 title">About</div>
                                    <p>Hello! I am Kuldeep Singh.</p>
                                    <p>
                                        I have more than 8 years of experience in consulting, designing, developing and delivering enterprise solutions. I am Microsoft certified Azure Solution Architect, DevOps Engineer, Data Engineer and Azure Developer.
                                        I have a bachelor of engineering in Information Technology degree from University of Pune.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body">
                                    <div class="h4 mt-0 title">Basic Information</div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                                        <div class="col-sm-8">in.singhkuldeep@gmail.com</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                                        <div class="col-sm-8">+44 777-956-3361</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                                        <div class="col-sm-8">London, U.K.</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                                        <div class="col-sm-8">English</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="skill">
                <div class="container">
                    <div class="h4 text-center mb-4 title">Professional Skills</div>
                    <div class="card" style="background-color:#dddddd">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="btn btn-primary">.net (C#)</span>
                                    <span class="btn btn-primary">Azure Web/ Compute</span>
                                    <span class="btn btn-primary">SQL Azure</span>
                                    <span class="btn btn-primary">Cosmos DB</span>
                                    <span class="btn btn-primary">Solution Design</span>
                                    <span class="btn btn-primary">Azure Storage</span>
                                    <span class="btn btn-primary">Azure DevOps</span>
                                    <span class="btn btn-primary">Power BI</span>
                                    <span class="btn btn-primary">Azure Data Factory</span>
                                    <span class="btn btn-primary">Agile / Scrum</span>
                                    <span class="btn btn-primary">PowerShell</span>
                                    <span class="btn btn-primary">Xamarin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="certifications">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="h4 text-center mb-4 title">Certifications</div>
                        </div>
                    </div>
                    <div class="tab-content gallery">
                        <div class="tab-pane active">
                            <div class="ml-auto mr-auto">
                                <div class="row">
                                @foreach(var item in Model.Badges)
                                {
                                    <div class="cc-porfolio-image img-raised">
                                        <a href="#">
                                            <figure class="cc-effect">
                                                <img src="@item" alt="Image" />
                                            </figure>
                                        </a>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="experience">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Work Experience</div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-experience-header">
                                    <p>Jan 2016 - Present</p>
                                    <div class="h5">Microsoft</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="h5">Customer Engineer</div>
                                    <p>
                                        ❑ Delivered training and services to end customers, focusing on cloud technologies as well as troubleshooting, strategy and best practices.
                                        <br />❑ Worked with customers to plan, deploy, operate and optimize their modern cloud applications and helped them in accomplishing their business needs.
                                        <br />❑ Synthesized customer feedback to facilitate continuous product/services improvement in close co-operation with Product/Engineering teams.

                                    </p>
                                    <div class="h5">Consultant</div>
                                    <p>
                                        ❑ Lead the database team of $42M auditing application, along with the team of 100+ for GTI. GTI is one of the leading audit, tax and advisory ﬁrm.
                                        <br />❑ Responsibilities included designing, developing and delivering solutions that helped customer in doing their Audit in eﬀective ways.
                                        <br />❑ Improved the database performance, which reduces the usage cost from $16k /month to $3.6k /month.
                                        <br />❑ Designed a methodology of continuous migration which ensures the schema changes made post production release is appropriately versioned and continuously migrated with daily builds.
                                        <br />❑ Bring in the best minds to the organization via interviews conducted across the country.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-experience-header">
                                    <p>Aug 2015 – Jan 2016</p>
                                    <div class="h5">Aon Hewitt</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="h5">
                                        Software Executive
                                    </div>
                                    <p>
                                        ❑ Developed a web application ‘Hewitt Gateway’ with the team of 50+ distributed across globe which helped in managing projects, employee, client and their distribution related information worldwide.
                                        <br />❑ Lead the activity of migration of applications from Windows server 2003 to Windows server 2008, which enables the customer to use the latest features of windows server 2008.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-experience-header">
                                    <p>Aug 2012 – Jul 2015</p>
                                    <div class="h5">Icertis</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="h5">Software Analyst</div>
                                    <p>
                                        ❑ Responsibilities included gathering customer requirement, architecting,
                                        developing and delivering solutions. <br />
                                        ❑ Design, develop and deliver a web application ‘Retail process automation’,
                                        which streamline the process of opening Microsoft stores.<br />
                                        ❑ Developed a native windows phone application, HelpBridge. This helps you
                                        connect with your loved ones during natural disasters. It also enables you to
                                        give your money, time and resources to support relief and rebuilding efforts
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="education">
                <div class="container cc-education">
                    <div class="h4 text-center mb-4 title">Education</div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-education-header">
                                    <p>2008 - 2012</p>
                                    <div class="h5">Bachelor's Degree</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="h5">Bachelor of Engineering</div>
                                    <p class="category">University of Pune</p>
                                    <p>Bachelor of Engineering in Information Technology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="cert">
                <div class="container cc-experience">
                    <div class="card" style="background-color:#dddddd">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/01-AzSolutionArchitect-cert.png" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/02-DevOpsExpert-cert.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/03-AzDataEngineer-cert.png" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/04-DataAnalystAssociate-cert.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/04-DatabaseAdministrator-cert.png" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/05-AzAdminAssociate-cert.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/06-DevAssociate-cert.png" />
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="card-body">
                                    <img src="~/images/06-DevAssociate-cert.png" />
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="container cc-education">
                    <div class="container text-center">
                        <a class="cc-facebook btn btn-link" target="_new" href="https://www.facebook.com/in.singhkuldeep/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
                        <a class="cc-twitter btn btn-link " target="_new" href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
                        <a class="cc-google-plus btn btn-link" target="_new" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                        <a class="cc-instagram btn btn-link" target="_new" href="https://www.instagram.com/kuldeep.singh.k/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
                    </div>
                    <div class="h4 title text-center">Kuldeep Singh</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
